@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('./fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-black: #000000;

    --border: 1px solid var(--color-black);
    --border-radius: 55px;
    --container-width: 1732px;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 1.75;
    font-weight: 400;
    color: var(--color-black);
    background-color: white;
    user-select: none;
}

.container {
    max-width: var(--container-width);
    padding-inline: 94px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .container {
        padding-inline: 50px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-inline: 25px;
    }
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: var(--color-black);
    cursor: default;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: normal;
}

.tag-elem::after {
    content: "/";
    padding-inline: 6px;
}

@media (max-width: 1024px) {
    .tag-elem::after {
        padding-inline: 4px;
    }
}

@media (max-width: 768px) {
    .tag-elem::after {
        padding-inline: 2px;
    }
}

.tag {
    display: inline-block;
    font-size: min(11px, 0.6vw);
    font-family: Inter-Medium, sans-serif;
    border: 1px solid var(--color-black);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    padding:4px 9px;
    letter-spacing: 1.1px;
    text-align: center;
    margin-left: 7px;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
}

@media (max-width: 768px) {
    .tag {
        padding: 0 1px;
        margin-left: 2px;
    }
}

.tag:hover {
    background-color: var(--color-black);
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding-block: 35px;
    font-size: min(15px, 0.87vw);
    border-bottom: var(--border);
    margin-bottom: 30px;
}

.header-logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.header a span{
    font-size: min(19px, 1.1vw);
}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.menu-item {
    transition: transform 0.4s;
}

.menu-item:hover{
    transform: scale(110%);
}

.header-info-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

@media (max-width: 1024px) {
    .header-menu {
        order: 1;
        flex-basis: 100%;
        gap: 15px;
    }
    .header {
        flex-wrap: wrap;
        padding-block: 15px;
        margin-bottom: 20px;
    }
    .header-logo-name {
        gap: 5px;
    }
    .header-info-link {
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .header-menu {
        gap: 8px;
    }
    .header {
        padding-block: 3px;
        margin-bottom: 10px;
    }
    .header-info::after {
        visibility: hidden;
    }
    .header-logo-name {
        gap: 1px;
    }
    .header-info-link {
        gap: 1px;
    }
}

.news-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: var(--border);
    padding-bottom: 34px;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: min(786px, 44vw);
}

.news-title-tags {
    display: flex;
    flex-direction: column;
}

.date-and-by {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: min(11px, 0.64vw);
}

.title-news {
    font-weight: 500;
    text-transform: uppercase;
    font-size: min(77px, 4.45vw);
    line-height: 1.1;
    padding-top: 10px;
}

.news-info {
    font-size: min(22px, 1.27vw);
    line-height: min(30px, 1.73vw);
    letter-spacing: -0.4px;
}

.news-img {
    max-width: min(590px, 34vw);
}

@media (max-width: 1024px) {
    .news-main {
        padding-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .news-main {
        padding-bottom: 5px;
    }
}

.latest-posts {
    display: flex;
    flex-direction: column;
    margin-top: 5.2vw;
    padding-bottom: 6.25vw;
}

.header-latest-posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.title-latest-posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    font-family: 'Inter-Medium', sans-serif;
    font-size: min(19px,1vw);
}

.title-latest-posts svg {
    max-width: 1.15em;
    max-height: 1.15em;
}

.title-latest-posts h3 {
    font-family: 'Inter-Medium', sans-serif;
    font-size: min(19px,1vw);
}

.function-view {
    font-family: 'Inter-Medium', sans-serif;
    font-size: min(19px,1vw);
    border-bottom: var(--border);
    text-transform: uppercase;
}

.category-latest-posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-bottom: 42px;
}

.filter-latest-posts {
    font-size: min(11px,0.6vw);
    font-family: 'Inter-Medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.latest-list-posts {
    display:inline-grid;
    grid-template-rows: auto;
    align-items: start;
    grid-template-areas:
            "rose orange dog"
            "cactus eyes trees"
            ". grapefruit buses"
            ". dunk .";
}

.rose {
    grid-area: rose;
    grid-row: 1 / 3;
}

.cactus {
    grid-area: cactus;
    grid-row: 3 / 5;
    padding-top: 80px;
}

.orange {
    grid-area: orange;
}

.eyes {
    grid-area: eyes;
}

.grapefruit {
    grid-area: grapefruit;
}

.dunk {
    grid-area: dunk;
    margin-top: 17px;
}

.dog {
    grid-area: dog;
    grid-row: 1 / 4;

}

.trees {
    grid-area: trees;
    margin-top: -280px;
    grid-row: 3 / 4;
}

.buses {
    grid-area: buses;
    grid-row: 4 / 5;
}

.date {
    display: inline-block;
    font-size: min(11px, 0.6vw);
    font-family: 'Inter-Medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.date:after {
    content: "/";
    padding-left: 7px;
}

.latest-post{
    display: inline-box;
    transition: transform 1s;
}

.latest-post:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.post-title {
    display: inline-block;
    border-bottom: var(--border);
    font-family: 'Inter-Medium', sans-serif;
    font-size: min(24px,1.25vw);
    text-transform: uppercase;
    line-height: min(39px,2vw);
}

.rose .post-title {
    font-size: min(37px, 2vw);
}

.cactus .post-title {
    font-size: min(37px, 2vw);
}


@media (max-width: 1900px) {
    .latest-list-posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }

    .latest-post-img {
        max-width: 55vw;
    }

    .cactus {
        padding-top: 0;
        order: 1;
    }

    .dunk {
        margin-top: 0;
    }

    .trees {
        margin-top: 0;
    }

    .latest-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.popular-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
    padding-bottom: 140px;
}

.popular {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-popular {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    gap: 9px;
}

.title-popular svg {
    max-width: 0.8854vw;
    max-height: 1.0417vw;
}

.popular h3 {
    font-family: 'Inter-Medium', sans-serif;
    font-size: min(19px,1vw);
}

.popular-content {
    padding-top: 37px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.popular-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    transition: transform 1s;
}

.popular-post:hover {
    transform: scale(1.05);
}

.popular-date-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
}

.trend-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.trend-title h3 {
    font-family: 'Inter-Medium', sans-serif;
    font-size: min(19px,1vw);
}

.trend-title svg {
    max-width: 0.8411vw;
    max-height: 0.9896vw;
}

.trend-posts {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.trend-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    transition: transform 1s;
}

.trend-post:hover {
    transform: scale(1.05);
}

@media (max-width: 1720px) {
    .popular-posts {
        justify-content: space-around;
    }
    .popular-content {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .popular-post img {
        max-width: 60vw;
    }
}

@media (max-width: 768px) {
    .popular-posts {
        padding-bottom: 15px;
        gap: 3px;
    }
    .title-popular {
        gap: 2px
    }
    .popular-content {
        gap: 10px;
    }
    .popular-post {
        gap: 2px;
    }
    .popular-date-tag {
        gap: 3px;
    }
    .trend-title {
        gap: 2px;
    }
    .trend-posts {
        gap: 10px;
    }
}

.interview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    padding-top: 45px;
}

.bk-interview {
    background-image: url("./images/book.jpg");
    background-size: cover;
    background-position: center center;
}

.data-tag-interview {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interview-title {
    display: inline-block;
    width: 26.8229vw;
    font-size: min(77px, 4.0104vw);
    line-height: 4.4271vw;
    margin-bottom: 350px;
}

.interview-text {
    display: inline-block;
    width: 31.5104vw;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: min(22px, 1.1458vw);
    padding-bottom: 45px;
}

@media (max-width: 1024px) {
    .interview-title {
        margin-bottom: 150px;
    }
}

@media (max-width: 768px) {
    .interview-title {
        margin-bottom: 30px;
    }
}

.hot-stuff {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding-bottom: 125px;
}

.header-hot-stuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-hot-stuff {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.title-hot-stuff h3 {
    font-family: 'Inter', sans-serif;
    font-size: min(19px,1vw);
}

.title-hot-stuff svg {
    max-width: 0.9896vw;
    max-height: 0.8854vw;
}

.hot-stuff-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 125px;
}

.hot-stuff-post:nth-child(2n) img{
    width: 222px;
    height: 100%;
}

.hot-stuff-post {
    transition: transform 1s;
}

.hot-stuff-post:hover {
    transform: scale(1.05);
}

@media (max-width: 1770px) {
    .hot-stuff-posts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hot-stuff-post {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .hot-stuff-posts {
        gap: 10px;
    }

    .hot-stuff {
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .hot-stuff-post img {
        width: 70px;
        height: 100%;
    }

    .hot-stuff-post:nth-child(2n) img{
        width: 70px;
        height: 100%;
    }

    .hot-stuff {
        padding-bottom: 30px;
    }
}

.slogan {
    padding-bottom: 100px;
}

.slogan h2 {
    font-family: 'Inter-Medium', sans-serif;
    font-size: min(3.6458vw, 70px);
    border-block: var(--border);
    margin-inline: auto;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-bottom: 40px;
}

.footer-menu {
    border-bottom: var(--border);
}

.footer-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-bottom: 25px;
}

.footer-menu-item {
    font-size: min(15px, 0.7813vw);
    transition: transform 1s;
}

.footer-menu-item:hover {
    transform: scale(1.05);
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contact .contact-link {
    cursor: pointer;
}

.copyright {
    display: inline-block;
    font-size: min(11px, 0.5729vw);
    border-bottom: var(--border);
}

.copyright:before {
    content: "© layout ";
    color: grey;
    text-transform: uppercase;
}

.copyright a{
    cursor: pointer;
}